.news-box-items {
    margin-top: 30px;
    background-color: $white;
    
    .news-image {
        position: relative;

        img {
            @include imgw;
        }

        h2 {
            font-size: 40px;
            font-weight: 500;
            background: $theme-color;
            color: $white;
            padding: 12px;
            display: grid;
            position: absolute;
            top: 0;
            right: 5%;
            line-height: 1;

            span {
                font-size: 16px;
                font-weight: 400;
                display: inline-block;
                margin-top: 10px;
                text-transform: capitalize;
                text-align: center;
            }
        }
    }

    .news-content {
        padding: 35px;

        h3 {
            a {
                color: $header-color;
                @include transition;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        .post-list {
            @include flex;
            gap: 10px;
            margin-top: 60px;

            li {
                font-size: 18px;
                font-weight: 700;
                color: $header-color;
                text-transform: uppercase;
                position: relative;
                padding-right: 10px;
                margin-right: 10px;

                &:not(:last-child) {

                    &::before {
                        @include before;
                        width: 5px;
                        height: 5px;
                        border-radius: 50px;
                        left: 100%;
                        top: 35%;
                        background-color: $header-color;
                    }
                }
            }
        }
    }
}

.news-section {
    position: relative;

    .line-shape {
        position: absolute;
        bottom: 0;
    }
}

.news-wrapper {
    .news-box-items-2 {
        margin-top: 30px;

        .news-image {
            position: relative;

            img {
                @include imgw;
            }

            .post-cat {
                padding: 12px;
                background-color: $theme-color;
                text-align: center;
                display: inline-block;
                width: 75px;
                position: absolute;
                top: 0;
                left: 32px;

                h2 {
                    font-size: 40px;
                    font-weight: 500;
                    color: $white;
                }

                span {
                    display: inline-block;
                    font-size: 16px;
                    color: $white;
                }
            }
        }

        .news-content {
            margin-top: 25px;

            h3 {
                font-size: 40px;
                font-weight: 900;
                margin-bottom: 15px;

                a {
                    color: $header-color;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }

    .news-box-items-3 {
        margin-top: 30px;
        @include flex;
        gap: 30px;

        .news-image {
            position: relative;

            img {
                @include imgw;
            }

            .post-cat {
                padding: 12px;
                background-color: $theme-color;
                text-align: center;
                display: inline-block;
                width: 75px;
                position: absolute;
                top: 0;
                left: 32px;

                h2 {
                    font-size: 40px;
                    font-weight: 500;
                    color: $white;
                }

                span {
                    display: inline-block;
                    font-size: 16px;
                    color: $white;
                }
            }
        }

        .news-content {
            max-width: 330px;

            h3 {
                font-size: 28px;
                font-weight: 900;
                margin-bottom: 15px;

                a {
                    color: $header-color;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                margin-bottom: 20px;
            }
        }
    }
}

.news-details-wrapper {

    .single-post-area {
        border-right: 1px solid $border-color;
        padding-right: 30px;
        margin-right: 10px;

        .single-news-post {

            .details-image {
                margin-bottom: 45px;
    
                img {
                    @include imgw;
                }
            }
    
            .details-content {
    
                .quate-area {
                    margin-top: 45px;
                    margin-bottom: 45px;
                    @include flex;
                    gap: 24px;
                    padding: 35px 0;
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
    
                    h3 {
                        font-size: 32px;
                        font-weight: 500;
                    }
                }
            }
        }
    
        .tagcloud {
    
            span {
                font-weight: 500;
                color: $header-color;
                margin-right: 8px;
            }
    
            a {
                display: inline-block;
                border-radius: 5px;
                padding: 12px 26px;
                line-height: 1;
                color: #585B6F;
                background: $bg-color;
                margin-right: 8px;
                text-transform: capitalize;
                font-weight: 500;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
    
                @include breakpoint (max-md){
                    margin-bottom: 10px;
                }
    
                @include breakpoint (max-sm){
                    margin-bottom: 5px;
                }
    
                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    
        .previous-button {
            margin-top: 60px;
            @include flex;
            justify-content: space-between;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            padding: 36px 0;
    
            @include breakpoint(max-md) {
                flex-wrap: wrap;
            }
    
            @include breakpoint(max-sm) {
                flex-wrap: wrap;
            }
    
            .preview-button {
    
                span {
                    font-size: 18px;
                    color: #585B6F;
                }
               
                h4 {
                    margin-top: 8px;
                    font-weight: 900;
    
                    a {
                        background-position: 0 95%;
                        background-repeat: no-repeat;
                        background-size: 0% 2px;
                        display: inline-block;
                        @include transition;
        
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
    
                &.style-2 {
                    text-align: right;
    
                    @include breakpoint(max-md) {
                        text-align: left;
                    }
    
                    @include breakpoint(max-sm) {
                        text-align: left;
                    }
                }
            }
    
            .icon {
                font-size: 32px;
                color: $theme-color;
            }
        }
    
        .comments-area {
            margin-top: 80px;
            padding-bottom: 20px;
    
            .comments-heading {
                margin-bottom: 30px;
    
                h2 {
                    font-size: 40px;
                }
            }
    
            .news-single-comment {
                margin-bottom: 40px;
    
                .content {
    
                    .con {
    
                        span {
                            color: #585B6F;
                            margin-bottom: 5px;
                            display: inline-block;
                        }
    
                        h3 {
                            font-size: 24px;
                            margin-bottom: 18px;
                        }
                    }
    
                    .reply {
                        font-size: 18px;
                        font-weight: 700;
                        color: $theme-color;
                        padding-bottom: 3px;
                        text-transform: uppercase;
                        display: inline-block;
    
                        &.style-2 {
                            border-bottom: 4px solid $theme-color;
                        }
                    }
                }
    
                &.style-1 {
                    margin-left: 125px;
    
                    @include breakpoint(max-md) {
                        margin-left: 0px;
                    }
    
                    @include breakpoint(max-sm) {
                        margin-left: 0px;
                    }
                }
    
                &.style-2 {
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
                    padding: 40px 0;
                }
            }
        }
    
        .comment-form-wrap {
    
            h2 {
                font-size: 40px;
                margin-bottom: 40px;
            }
    
            .form-clt {
                input,textarea {
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid $border-color;
                    padding: 16px 20px;
                    font-weight: 500;
    
                    &::placeholder {
                        color: $text-color;
                    }
    
                }
    
                textarea {
                    padding-bottom: 100px;
                }
            }
        }
    }

    .main-sidebar {

        .single-sidebar-widget {
            margin-bottom: 40px;

            &:not(:last-child) {
                border-bottom: 1px solid #E4E4E5;
                padding-bottom: 40px;
            }
   

            .wid-title {
                margin-bottom: 28px;

                h3 {
                    font-size: 24px;
                    font-weight: 900;
                }
            }

            .search-widget {
                form {
                    width: 100%;
                    position: relative;
            
                    input {
                        background-color: $bg-color;
                        font-size: 20px;
                        padding: 19px 26px 19px 28px;
                        width: 100%;
                        border: none;
                        color: $text-color;
                    }
            
                    button {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                        font-size: 18px;
                        color: $theme-color;
                    }
                }
            }

            .news-widget-categories {
                ul {
                    li {
                        font-size: 20px;
                        @include transition;
    
                        a {
                            color: $header-color;
                        }
    
                        span {
                            font-size: 20px;
                            font-weight: 700;
                            @include transition;
                            color: $header-color;
                        }
    
                        &:not(:last-child){
                            margin-bottom: 12px;
                        }
                    }
                }
            }

            .recent-post-area {

                .recent-items {
                    display: flex;
                    gap: 20px;
                    
                    .recent-thumb {

                        img {
                            border-radius: 5px;
                        }
                    }
                    
                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
    
                    .recent-content {

                        h4 {
                            font-weight: 900;
                            margin-bottom: 5px;
                            line-height: 26px;
    
                            a {
                                &:hover {
                                    color: $theme-color;
                                }
                            }
                        }

                        ul {
                            margin-bottom: 8px;
    
                            li {
                                color: $text-color;
                            }
                        }
                    }
                }
            }

            .news-widget-categories {

                .tagcloud {
                    a {
                        display: inline-block;
                        padding: 11px 20px;
                        line-height: 1;
                        font-size: 16px;
                        font-weight: 500;
                        background: $bg-color;
                        color: $header-color;
                        margin-right: 5px;
                        text-transform: capitalize;
                        margin-bottom: 10px;
                        @include transition;
        
                        &:last-child {
                            margin-right: 0;            
                        }
                        
                        &:hover {
                            background-color: $theme-color;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}