
//>>>>> Section Title Start <<<<<//

.section-title{
	position: relative;
	z-index: 99;
	margin-bottom: 30px;
	//margin-top: -5px;

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	span {
		display: inline-block;
		font-size: 18px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		color: $header-color;
		margin-bottom: 12px;
	}
}

.section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;

	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}
}


//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}


.section-bg {
	background-color: $bg-color;
}

.section-bg-2 {
	background-color: $header-color;
}


.section-padding {
	padding: 140px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}

//>>>>> Basic Css End <<<<<//
