.service-card-items {
    margin-top: 30px;

    .service-image {
        position: relative;

        img {
            @include imgw;
        }

        h5 {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background: $theme-color;
            color: $white;
            font-size: 18px;
            font-weight: 700;
            position: absolute;
            right: 8%;
            bottom: -8%;
        }

        &.style-2 {

            .icon {
                width: 80px;
                height: 80px;
                line-height: 80px;
                text-align: center;
                background: $theme-color;
                color: $white;
                position: absolute;
                right: 8%;
                bottom: -8%;

                img {
                    width: initial;
                    height: initial;
                }
            }
        }
    }

    .service-content {
        margin-top: 30px;

        h3 {
            margin-bottom: 10px;

            a {
                color: $header-color;
                @include transition;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

.service-box-items {
    margin-top: 30px;
    padding: 54px 44px;
    border: 1px solid $border-color;
    @include transition;

    .icon {
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        background-color: $theme-color;
    }

    .service-content {
        margin-top: 120px;

        h3 {
            margin-bottom: 18px;

            a {
                color: $header-color;
                @include transition;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        .link-btn {
            display: inline-block;
            margin-top: 24px;
            color: $header-color;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
        }
    }

    &:hover {
        border-bottom: 4px solid $theme-color;
        background: $bg-color;
    }

    &.style-2 {
        background-color: $white;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 4px solid $white;
        position: relative;

        .number {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            color: $white;
            background-color: $theme-color;
            position: absolute;
            top: 0;
            right: 44px;
        }
        &:hover {
            border-bottom: 4px solid $theme-color;
        }
    }
}

.service-image-items {
     margin-top: 30px;
     
    .service-image {
        position: relative;

        &::before {
            @include before;
            background: linear-gradient(180deg, rgba(27, 31, 42, 0.00) 10%, #1B1F2A 90%);
        }

        img {
            @include imgw;
        }

        .icon {
            width: 90px;
            height: 90px;
            line-height: 90px;
            background-color: $theme-color;
            text-align: center;
            position: absolute;
            left: 40px;
            top: 40px;

            img {
                width: initial;
                height: initial;
            }
        }

        .service-content {
            position: absolute;
            left: 40px;
            bottom: 20px;
    
            h3 {
                margin-bottom: 10px;
    
                a {
                    color: $white;
                }
            }
    
            p {
                color: $white;
            }

            .link-btn {
                color: $white;
                display: inline-block;
                height: 0;
                overflow: hidden;
                @include transition;
            }
        }
    }

    &:hover {

        .service-content {

            .link-btn {
                height: 50px;
                margin-top: 10px;
                bottom: 20px;
            }
        }
    }
}

.service-box-items-2 {
    margin-top: 30px;
    padding: 54px 44px;
    border: 1px solid $border-color;
    @include transition;
    display: flex;
    justify-content: space-between;

    .service-content {

        h3 {
            margin-bottom: 18px;

            a {
                color: $header-color;
                @include transition;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        p {
            margin-bottom: 24px;
            max-width: 425px;
            font-size: 20px;
            
        }
    }

    .icon {
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        background-color: $theme-color;
    }

    &:hover {
        border-bottom: 4px solid $theme-color;
        background: $bg-color;
    }
}

.service-section-3 {
    position: relative;

    .line-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}