.testimonial-items {
    padding: 60px 48px;
    border: 1px solid $border-color;
    margin-top: 30px;
    border-bottom: 4px solid $theme-color;

    .testimonial-content {
        margin-left: 40px;

        i {
            color: $header-color;
        }

        h2 {
            font-size: 42px;
            font-weight: 500;
            line-height: 119%;
        }

        .author-content {
            margin-top: 90px;

            h4 {
                font-weight: 400;
                color: $text-color;
                margin-top: 8px;
            }
        }
    }
}

.testimonial-card-items {
    padding: 44px;
    border: 1px solid $border-color;
    margin-top: 30px;
    
    .star {
        margin-bottom: 20px;
        display: inline-block;

        i {
            color: $theme-color;
        }
    }

    h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 118%;
        text-transform: uppercase;
    }

    .client-info {
        margin-top: 70px;

        h3 {
            font-size: 24px;
            margin-bottom: 5px;
        }

        p {
            font-size: 20px;
        }
    }
}